body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top: 20px;
}

.header, .footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

.main-container {
    padding: 20px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-spinner {
    border: 5px solid #f3f3f3 !important; /* Light gray for the non-animated part */
    border-top: 5px solid #000000 !important; /* Black for the animated part */
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
    animation: spin 2s linear infinite !important;
}

.loading-text {
    margin-top: 10px; /* Space between the spinner and the text */
    font-size: 18px; /* Adjust size as needed */
    color: #000000; /* Text color */
    font-weight: bold; /* Optional: makes the text bold */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.github-corner {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #000000;
    color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.card-header {
    background-color: #000;
    color: #ffffff;
}

.github-corner {
    transform: scale(1.1);
    font-size: 32px;
    text-decoration: none;
}

.alert {
    background-color: #f8f9fa;
    color: #000000;
    border-color: #000000;
}

.custom-file-input ~ .custom-file-label {
    background-color: #f8f9fa;
    border: 1px solid #000000;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #000000;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #212529;
    border-color: #1c1c1c;
}

.card {
    border-color: #000;
    margin-top: 20px;
}

.card-header {
    background-color: #000;
    border-bottom: 1px solid #fff;
}

.card-body {
    background-color: #fff;
}

.btn-outline-dark {
    border-color: #000;
    color: #000;
}

.btn-outline-dark:hover {
    background-color: #000;
    color: #fff;
}

body {
    background-color: #f7f7f7;
}

.card-body .btn {
    margin-top: 15px;
}

@media (max-width: 768px) {
    .card {
        margin-top: 10px;
    }
    
    .card-body .btn {
        margin-top: 10px;
    }
}

.github-corner:hover {
    color: #ffffff;
    transform: scale(1.2);
    background-color: #000000;
}

.github-corner:hover,
.github-corner:focus {
    text-decoration: none;
}

.alert-warning {
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
    border: none;
    box-shadow: none;
}

.btn-dark {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}

.btn-dark:hover {
    background-color: #212529;
    border-color: #1c1c1c;
}

body, button, input, textarea {
    font-family: 'DM Sans', sans-serif;
}
